h3 {
 margin-bottom: 4px;
 margin-top: 20px;
}
ul.rapportvisninger {
 	margin-top: 0px;
}
ul.rapportvisninger, ul.rapportvisninger li {
 clear: both; 
}
ul.rapportvisninger li {
 	padding: 4px; 
}
ul.rapportvisninger li div {
  float: left;
  width: 120px;
  text-align: right;
}

ul.rapportvisninger li div.rapport {
 	text-align: left; 

}
ul.rapportvisninger li.header {
 font-weight: bold; 
}

.log, .log li {
 clear: both;      
}
.log li div{
      float: left;
      width: 150px;
}
.log li.header {
	font-weight: bold;      
}

.log li div.message{
	width: 300px;
}